@model IEnumerable<WebApplication.Weapon>

@{
    ViewData["Title"] = "Зброя за типом";
}

<h1>Зброя за типом @ViewBag.WeaponTypeName</h1>

<p>
    @Html.ActionLink("Додати нову зброю", "Create", new {weaponTypeId = @ViewBag.WeaponTypeId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magazine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateOfFire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magazine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateOfFire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
