@model IEnumerable<WebApplication.CharacterLocation>

@{
    ViewData["Title"] = "Index";
}

<h1>Позиція персонажа</h1>

<p>
    <a asp-action="Create">Встановити позицію</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
