@model IEnumerable<WebApplication.Session>

@{
    ViewData["Title"] = "Сесії";
}

<h1>Сесії</h1>

<p>
    <a asp-action="Create">Створити сесію</a>
</p>

<div>
    <h5><pre>Оберіть excel-файл для заватаження         Завантаження інформації в excel-файл</pre></h5>
    @using (Html.BeginForm("Import", "Sessions", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            <div class="upload_form">

                <label>

                    <input type="file" name="fileExcel" id="fileExcel" class="main_input_file" style="display:none;" />
                    <div style=" width: 100px; height: 32px; background: #f2f2f2; border-radius: 4px; color: #000; text-align: center; line-height: 32px; font-family: arial; font-size: 14px; display: inline-block; vertical-align: top;">Обрати файл</div>
                    <input class="f_name" type="text" id="f_name" value="Файл не обрано" disabled />

                </label>

                <button asp-action="Export" style="margin-left: 20%">Завантажити</button>
            </div>
            <div>
                <input type="submit" value="Імпортувати" />
            </div>
        </div>
    }
</div>

<div>
    <h5><pre>Оберіть word-файл для заватаження          Завантаження інформації у word-файл</pre></h5>
    @using (Html.BeginForm("ImportDOC", "Sessions", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-word" }))
    {
        <div>
            <div class="upload_form1">
                <label>

                    <input type="file" name="fileWord" id="fileWord" class="main_input_file1" style="display:none;" />
                    <div style=" width: 100px; height: 32px; background: #f2f2f2; border-radius: 4px; color: #000; text-align: center; line-height: 32px; font-family: arial; font-size: 14px; display: inline-block; vertical-align: top;">Обрати файл</div>
                    <input class="f_name1" type="text" id="f_name1" value="Файл не обрано" disabled />

                </label>
                <button asp-action="ExportDOC" style="margin-left: 20%">Завантажити</button>
            </div>
            <div>
                <input type="submit" value="Імпортувати" />
            </div>
        </div>
    }
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Server)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Map.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $(".main_input_file").change(function () {

            var f_name = [];

            for (var i = 0; i < $(this).get(0).files.length; ++i) {

                f_name.push(" " + $(this).get(0).files[i].name);

            }

            $("#f_name").val(f_name.join(", "));
        });

    });

</script>

<script>

    $(document).ready(function () {

        $(".main_input_file1").change(function () {

            var f_name1 = [];

            for (var i = 0; i < $(this).get(0).files.length; ++i) {

                f_name1.push(" " + $(this).get(0).files[i].name);

            }

            $("#f_name1").val(f_name1.join(", "));
        });

    });

</script>

